<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">DT::FILES-API::%h</name>
  <service>
    <type>_duckietown._tcp</type>
    <port>8083</port>
  </service>
</service-group>
